@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Red Rose', cursive;	 
  color: #333;
}
  .navbar {
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .navbar h1 {
    color:#A02279;
  }

  .navbar .connectbutton{
    background-color: #A02279;
    border-radius: 8px;
    padding: 12px 8px;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* width: 170px;
    height: 48px; */
    text-align: center;
  }

  .navbar .connectbutton a{
    color: #fafafa;   
  }
  .navbar .links {
    margin-left: 60px;
  }
  .navbar .links .connectbutton{
    margin: 15px;
  }
  
  .navbar .connectbutton a:hover {
    transform: scale(1.2);
    transition: .4s;
  }
  .navbar a {
    margin-right: 16px;
    text-decoration: none;
    padding: 20px;
  }
  .navbar .links a:hover {
    color: #A02279;
  }
 
  
.flex {
  display: flex;
  align-items: center;
  margin-left: 6rem;
}

.flex h1{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  letter-spacing: -0.02em;
  margin-top: 10rem;
  color: #434343;
  width: 646px;
}

.flex h1 span{
  color: #A02279;
}

.flex p{
  margin-top: 2.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  width: 636px;
  height: 102px;
  color: #434343;
}


.align-start{
  align-items: flex-start;
}


.flex > div,
.flex > ul{
  flex: 1;
}

.flex > div:first-child{
  margin-right: 80px;
  width: 50px;
}
/* 
.flex > div:last-child{
  margin-left: 20px;
} */


.searchlocation {
  display: flex;
  margin-top: 2rem;
  width: 618.71px;
}

input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: .5s;
}

.searchbox {
  background: rgba(247, 247, 247, 0.1);
  width: 618.71px;
  height: 54.08px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  border-color: #B8B8B8;
  outline: none;
  padding: 0 15px;
  border: 1px solid #A3A3A3;
  border-radius: 8px 0px 0px 8px;
}

.searchbtn {
  position: relative;
  height: 40px;
  left: -5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 0 8px 8px 0;
  border: none;
  padding: 10px 50px;
  outline: none;
  cursor: pointer;
  background: #A02279;
  color: #fff;
  width: 388.71px;
  height: 54.08px;
}

.pix {
  display: flex;
  margin-top: 80px;
}

.pix img{
  width: 220px;
  height: 156px;
}
.pix1{
  margin-top: 80px;
  margin-left: 55px;
}
.pix2 {
  margin-right: 75px;
}

